<launch>
  <!-- SLAM -->
  <include file="$(find youbot_controller)/launch/separate/rtabmap.launch" />
  
  <!-- Navigation -->
  <include file="$(find youbot_controller)/launch/separate/move_base.launch">
    <arg name="use_obstacles_detection" value="false"/>
    <arg name="use_trajectory_server"   value="true"/>
  </include>

</launch>

